// https://github.com/chriskempson/base16
// https://github.com/ntpeters/base16-materialtheme-scheme
base00 = #263238
base01 = #2E3C43
base02 = #314549
base03 = #546E7A
base04 = #B2CCD6
base05 = #EEFFFF
base06 = #EEFFFF
base07 = #FFFFFF
base08 = #F07178
base09 = #F78C6C
base0A = #FFCB6B
base0B = #C3E88D
base0C = #89DDFF
base0D = #82AAFF
base0E = #C792EA
base0F = #FF5370

$code-block
  background: base00
  margin: 0 article-padding * -1
  padding: 15px article-padding
  border-style: solid
  border-color: color-border
  border-width: 1px 0
  overflow: auto
  color: base05
  line-height: font-size * line-height

$line-numbers
  color: base04
  font-size: 0.85em

.article-entry
  pre, code
    font-family: font-mono
  code
    background: color-background
    text-shadow: 0 1px base07
    padding: 0 0.3em
  pre
    @extend $code-block
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    @extend $code-block
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: base03
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-right: 20px
    .line
      height: font-size * line-height
    .line.marked
      background: base02
  .gist
    margin: 0 article-padding * -1
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    background: base00
    padding: 15px article-padding 15px 0
    .gist-file
      border: none
      font-family: font-mono
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: base00
        color: base03
        font: 0.85em font-sans
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: article-padding
        a
          color: color-link
          font-weight: normal
          &:hover
            text-decoration: underline

pre
  .comment
  .title
    color: base03
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: base08
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: base09
  .class
  .ruby .class .title
  .css .rules .attribute
    color: base0B
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: base0B
  .css .hexcolor
    color: base0C
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: base0D
  .keyword
  .javascript .function
    color: base0E
